@import '../bootstrap/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:#003566;
    --color-1: #fbfbfb;
    --color-2: rgb(27, 27, 27);
}

body{
    background: #fbfbfb;
    position: relative;
    font-family: 'Open Sans', sans-serif;

}

body a{
    color: black;
}

.section-padding{
    padding: 100px 0px;
}

.btn-1{
    display: inline-block;
    background-color: #fbfbfb;
    text-transform: capitalize;
    color: black;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 10px 14px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}
.btn-1:hover{
    background-color: var(--main-color);
    color: var(--color-1);
}

/* ----------------
        Navbar
------------------ */
.navbar{
    background-color: var(--color-1);
    padding: 30px 0;
    color: black;
    transition: 0.3s all ease;
}
.navbar .navbar-brand{
    font-size: 1.8rem;
    font-weight: 600;
}
.navbar .nav-link{
    font-size: 1.2rem;
    font-weight: 400;
}
.navbar .nav-item{
    margin-left: 10px;
}
.navbar .navbar-brand span{
    color: var(--main-color);
}
.navbar .nav-item a{
    color: black;
    font-weight: 300;
}
.navbar .nav-link.active{
    font-weight: 600;
}
.navbar.shrink{
    columns: var(--main-color);
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
/* ----------------
        Home
------------------ */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
}   
.home-img img{
    display: inline-block;
    width: 650px;
}
.home .content{
    margin-left: 20px;
}
.home-title h2{
    text-transform: capitalize;
    font-weight: 600;
}
.home-title h2:nth-child(2){
    color:#003566;
}
.home-content p{
    font-size: 1.2rem;
}

/* ----------------
        Tunning
------------------ */
.tunning {
    min-height: 80vh;
    display: flex;
    align-items: center;
}   
.tunning-img img{
    display: inline-block;
    width: 650px;
}
.tunning .content{
    margin-left: 20px;
}
.tunning-title h2{
    text-transform: capitalize;
    font-weight: 600;
}
.tunning-title h2:nth-child(2){
    color:#003566;
}
.tunning-content p{
    font-size: 1.2rem;
}
